@{
    ViewData["Title"] = "Home Page";
}
@model Shelby_v2.Models.Mustang

<div class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded">
        <div class="col-md-12 px-0">
            <img class="w-100 img-fluid" style="max-height: 400px" src="/img/wallpaper_4.jpg" />
        </div>
    </div>
    <div class="container-fluid py-3">

        <div class="row">
            <div class="col-lg-12">

                <div class="horizontal-timeline">

                    <ul class="list-inline items">
                        <li class="list-inline-item items-list">
                            <div class="px-2">
                                <div class="event-date badge bg-info">2 June</div>
                                <h5 class="pt-2">Event One</h5>
                                <p class="text-muted">
                                </p>
                            </div>
                        </li>
                        <li class="list-inline-item items-list">
                            <div class="px-2">
                                <div class="event-date badge bg-success">5 June</div>
                                <h5 class="pt-2">Event Two</h5>
                                <p class="text-muted">
                                </p>
                            </div>
                        </li>
                        <li class="list-inline-item items-list">
                            <div class="px-2">
                                <div class="event-date badge bg-danger">7 June</div>
                                <h5 class="pt-2">Event Three</h5>
                                <p class="text-muted">
                                </p>
                            </div>
                        </li>
                        <li class="list-inline-item items-list">
                            <div class="px-2">
                                <div class="event-date badge bg-warning">8 June</div>
                                <h5 class="pt-2">Event Four</h5>
                                <p class="text-muted">
                                </p>
                            </div>
                        </li>
                        <li class="list-inline-item items-list">
                            <div class="px-2">
                                <div class="event-date badge bg-warning">8 June</div>
                                <h5 class="pt-2">Event Four</h5>
                                <p class="text-muted">
                                </p>
                            </div>
                        </li>
                        <li class="list-inline-item items-list">
                            <div class="px-2">
                                <div class="event-date badge bg-warning">8 June</div>
                                <h5 class="pt-2">Event Four</h5>
                                <p class="text-muted">
                                </p>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
