@{
    ViewData["Title"] = "Home Page";
}
@model Shelby_v2.Models.Mustang

<div class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded">
        <div class="col-md-12 px-0">
            <img class="w-100 img-fluid" style="max-height: 400px" src="/img/wallpaper_4.jpg" />
        </div>
    </div>   
    
    <div class="row">
        <div class="col-md-12">

            <div style="display:inline-block;width:100%;">
                <ul class="timeline timeline-horizontal">
                    <li class="timeline-item">
                        <div class="timeline-badge bgfuxia"><i class="glyphicon glyphicon-time"></i></div>
                        <div class="timeline-panel borderfuxia">
                            <div class="timeline-heading">
                                <p><small class="text-muted colorfuxia">NOV 2018<br>CROWDHACKATHON FINTECH 3.0 </small></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge bggreendark"><i class="glyphicon glyphicon-time"></i></div>
                        <div class="timeline-panel bordergreendark">
                            <div class="timeline-heading">
                                <p><small class="text-muted colorgreendark"> JAN 2019<br>SELECTION DAY</small></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge bggreenlight"><i class="glyphicon glyphicon-time"></i></div>
                        <div class="timeline-panel bordergreenlight ">
                            <div class="timeline-heading">
                                <p><small class="text-muted colorgreenlight"> JAN 2019<br>CYCLE START</small></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge bggreendark"><i class="glyphicon glyphicon-time"></i></div>
                        <div class="timeline-panel bordergreendark">
                            <div class="timeline-heading">
                                <p><small class="text-muted colorgreenlight"> JUN 2019<br>CYCLE END</small></p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    @*Aqui termina el body*@
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
